* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

ul, ol, menu {
    list-style: none;
}

/* Header */

.main-header .container {
    display: flex;
    padding: 15px;
    column-gap: 20px;
    line-height: 24px;
}

nav ul {
    display: flex;
    column-gap: 40px;
    font-weight: 100;
    font-size: 18px;
}

#flex-grow {
    flex-grow: 1
}

.button {
    color: white;
    background-color: #0362FF;
    
}

.button__1 {
    padding-left: 16px;
    padding-right: 16px;
}

/* First Section */

.blue-section   {
    background-color: #B4D0E7;
}

.main-section h1, .main-section .container-main {
    font-size: 64px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 1196px;
}

.container-main, .container__2 {
    display: flex;
    gap: 20px;
}

.container__2 {
    flex-direction: column;
    /* justify-content: space-between; */
    padding-top: 20px;
    row-gap: 20px;
    font-size: 16px;
    justify-content: end;
    flex-basis: 40%;
}

.fa-size {
    font-size: 56px;  
}

.w-70 {
    flex-basis: 60%;
}