* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

ul, ol, menu {
    list-style: none;
}

.main-header .container {
    display: flex;
    padding: 15px;
    column-gap: 20px;
}

nav ul {
    display: flex;
    column-gap: 40px;
    font-weight: 100;
    font-size: 18px;
}

#flex-grow {
    flex-grow: 1
}

.button {
    color: white;
    background-color: #0362FF;
    line-height: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.blue-section   {
    background-color: #B4D0E7;
}